:root {
    --ff-serif: 'Playfair', serif;
    --ff-sans: 'Big Shoulders Text', sans-serif;
    --ff-display: 'Big Shoulders Inline Display', sans-serif;

    /* small screen font-sizes */
    --fs-100: 0.75rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.375rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 2.125rem;
    --fs-900: 7rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    --clr-neutral-100: #a9a77f;
    --clr-neutral-200: #090909;
    --clr-neutral-300: #74783f;
    --clr-neutral-400: #3f4900;
    --clr-neutral-500: ;
    --clr-neutral-900: ;
  
    --clr-primary-300: #1a1b00;
    --clr-primary-400: red;
  
    --br: .25rem;
    --spacer: 1rem;
}
  
@media (min-width: 40em) {
:root {
    --fs-200: 1rem;
    --fs-300: 1.375rem;
    --fs-400: 1.75rem;
    --fs-500: 2.125rem;
    --fs-600: 2.75rem;
    --fs-700: 4.25rem;
    --fs-900: 8rem;
}
}

/* custom styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacer);
    font-family: var(--ff-sans);
    font-size: var(--fs-300);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-300);
}

a {
    text-decoration: none;
    line-height: 2;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-300);
}

a:hover {
    color: var(--clr-neutral-100);
}

.login {
    display: block;
    padding: var(--spacer);
}

input {
    display: block;;
}

div {
    padding: var(--spacer);
}

svg, img {
    height: 10rem;
    width: 10rem;
}

form {
    line-height: 2;
}

input {
    background: var(--clr-neutral-100);
    border: none;
    border-radius: var(--br);
}

.btn {
    padding: .3rem;
    margin-top: var(--spacer);
    font-size: var(--fs-100);
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-400);
    border: none;
    border-radius: var(--br);
    cursor: pointer;
    align-items: center;
}

.btn:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-primary-300);
}

table {
    width: 75vw;
    color: var(--clr-neutral-200);
    border-collapse: collapse;
    border: 1px solid var(--clr-neutral-200);
    background-color: var(--clr-neutral-400);
}

tr {
    border: 1px solid var(--clr-neutral-200);
}

th {
    border: 1px solid var(--clr-neutral-200);
    background-color: var(--clr-neutral-100);
}

td {
    border: 1px solid var(--clr-neutral-200);
}

tr:nth-child(even) {
    background-color: var(--clr-neutral-300);
}

tr:hover {
    background-color: var(--clr-neutral-100);
}

.footer, a {
    padding: var(--spacer);
    font-size: var(--fs-100);
    color: var(--clr-neutral-400);
}