/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

ul,
ol,
ul[class], 
ol[class] {
    list-style: none;
    padding: 0;
}