<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    <div>
      <h1>Hello, {{ .Name }}</h1>
      <button hx-get="/static/img/wind-turbine.svg"
        hx-trigger="click"
        hx-target="#svg-1"
        hx-swap="outerHTML">
          click here!
      </button>
      <img id="svg-1" src="/static/img/heart.svg"/>
    </div>
    <div>
      <table>
        <tr>
          <th>piece</th>
          <th>color</th>
          <th>count</th>
        </tr>
        <tr>
          <td>tail</td>
          <td>red</td>
          <td>10</td>
        </tr>
        <tr>
          <td>hair</td>
          <td>blue</td>
          <td>20</td>
        </tr>
        <tr>
          <td>eye</td>
          <td>green</td>
          <td>30</td>
        </tr>
      </table>
    </div>
    {{ template "footer" . }}
  </body>
</html>